<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>

<body>
    <div class="log">
        <div class="log-box">
            <h2> Welcome Back 👋</h2>
            <p>Login to continue</p>

            <form method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                <input type="text" name="username" placeholder="Username" required>
                <input type="password" name="password" placeholder="Password" required>
                <input type="submit" value="Login">
            </form>



            <p class="register-link">
                Don’t have an account? <a href="../register/">Register</a>
            </p>
        </div>
    </div>


</body>

</html>